/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,body {
  margin:0;
  padding:0;
}

.main {
  width:450px;
  height:300px;

  max-width: 450px;
  max-height: 300px;

  min-width: 450px;
  min-height: 300px;

  margin: 0 auto;
  padding: 0;
}

p {
  font-size: 16px;
}

#navBarDiv {
  position: relative;
  bottom: 5px;
}

#otherNavBar {
  position:relative;
}

#rightSideBorder {
  position: absolute;
  top: 0;
  right:0;
  height: 100%;
  width: 3px;
  z-index: 1;
}

#bottomSideBorder {
  position: absolute;
  bottom:0;
  height: 3px;
  width: 100%;
  z-index: 2;
}

#bottomSideBorderOther {
  position: absolute;
  bottom:0;
  height: 2px;
  width: 100%;
  z-index: 2;
}

#leftSideBorder {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  z-index: 1;
}

/* border card coloring */
#leftSideBorder, #rightSideBorder, #bottomSideBorder, #bottomSideBorderOther {
background-color:rgba(2,117, 216, 0.2);
}

/* card header color control */
#cardTop {
  background-color: rgba(0, 0, 60, 1);
  color:#0275d8;
  border-bottom: 2px solid #0275d8;
  text-align: center;
  z-index: 2;
  font-family: Verdana;
}

/* background color control */
html, body, .main, form, .default-container, .card-body {
  background-color: rgba(219,219,220,1);
}

/* input color control */
#privateKey, #publicKey, #message, #file, #key {
  background-color: rgba(235,235,235,1);
}

.active {
  z-index: 0;
}

#decrypted {
  padding-bottom: 5px;
  margin-bottom: 9px;
}

.active:hover {
  z-index: 1;
  transition: 0.4s;
}

.action:not(:hover){
  z-index: 0;
  transition: 0.4s;
}

/* help button */
#publicKeyHelpBtn, #helpButton, #helpButtonMsg, #privateKeyHelpBtn {
  position: absolute;
  padding:0;
  padding-bottom: 2px;
  top: 46px;
  left: 193px;
  width: 50px;
  height:30px;
  margin-left:44%;
  margin-bottom: 5px;
}

/* buttons for vault pages */
#pageBtn0, #pageBtn1, #pageBtn2, #pageBtn3, #pageBtn4, #pageBtn5, #pageBtn6, #pageBtn7, #pageBtn8, #pageBtn9{
  position: relative;
  height: 25px;
  width: 25px;
  font-size: 12px;
  text-align: center;
  margin-top: 25%;
  margin-left: 5px;
  padding: 0;
  padding-top: 2px;
}

#pageBtn0{
  margin-left: 3px;
}

#clearKeysBtn {
  position: absolute;
  top: 13.5%;
  right: 2.5%;
  height: 28px;
  color:red;
  border-color:red;
  border: 1px solid;
  transition: 0.2s;
  background-color: white;
}

#clearKeysBtn:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  transition: 0.2s;
}

#backBtn {
  position: absolute;
  top: 13.5%;
  right: 20.5%;
  height: 28px;
  color:rgb(2, 117, 216);
  border-color:rgb(2, 117, 216);
  border: 1px solid;
  transition: 0.2s;
  background-color: white;
}

#backBtn:hover {
  cursor: pointer;
  background-color: rgb(2, 117, 216);
  color: white;
  transition: 0.2s;
}

.keyDelElement {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  color:red;
  background-color: rgba(255,0,0,20%);
  text-align: center;
  padding-left:0px;
  transition: 0.2s;
  cursor: pointer;
}

.keyDelElement:hover {
  background-color: red;
  color:white;
  transition: 0.2s;
}

.keysElement {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: 1.75em;
  transition: background-color 0.2s;
  cursor: pointer;
}

.keysElement:hover {
  background-color: rgb(210,210,210);
  transition: 0.2s;
}

.keysElementEnd {
  border-bottom: 1px solid #000;
}

#popupCopied {
  position: absolute;
  background-size: 100px 100px;
  background-color: red;
}

/* rsa and aes button on info page */
#rsaBtn, #aesBtn {
  position: absolute;
}

#aesBtn {
  left:75px;
}

#rsaBtn, #aesBtn {
  top: 50px;
}

#infoDescriptionDiv {
  position: relative;
  top: -5px;
  overflow: auto;
}

#navBar {
  margin-top:-34px;
}

.default-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#snowdenQuote {
  position: relative;
  top:-5px;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

#nokeys {
  margin-top:1%;
  margin-left:4%;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

